@model HomeViewModel

 	<div class="banner-area-wrapper">
            <div class="banner-area text-center">	
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="banner-content-wrapper">
                                <div class="banner-content">
                                    <h2>abouts</h2> 
                                </div> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>    
            <div class="about-area pb-155">
            <div class="container">
           
                 @foreach (var item in Model.Settings)
                 {
                      <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <div class="about-content">
                            <h2>WELCOME TO <span>@item.Title</span></h2>
                            <p>@item.Desc1</p>
                            <p class="hidden-sm">@item.Desc2</p>
                            <a class="default-btn" href="@item.ButtonLink">view courses</a>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="about-img">
                            <img src="~/assets/img/@item.AboutImage" alt="about">
                        </div>
                    </div>
                </div>  
                 }
            
            </div>
        </div>
     <div class="teacher-area pt-150 pb-105">
            <div class="container">
                <div class="row">
           @foreach (var item in Model.Teachers.Take(4))
        {
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <div class="single-teacher mb-45">
                            <div class="single-teacher-img">
                                <a asp-action="detail" asp-controller="teacher" asp-route-id="@item.Id"><img src="~/assets/img/@item.Image" alt="teacher"></a>  
                            </div>
                            <div class="single-teacher-content text-center">
                                <h2><a href="teacher-details.html">@item.FullName</a></h2>
                                <h4>@item.teacherPositionCat.Name</h4>
                                <ul>
                                        @foreach (var soc in item.SocialMedias)
                                        {   
                                          <li><a href="@soc.Link">@Html.Raw(soc.Icon)</a></li>
                                        }
                                </ul>
                            </div>
                        </div>
                    </div>
            
        }
                </div>
            </div>
        </div>

        <div class="testimonial-area pt-110 pb-105 text-center">
            <div class="container">
                <div class="row">
                    <div class="testimonial-owl owl-theme owl-carousel">
                    @await Html.PartialAsync("_TestinomialPartialView",Model)
                    </div>
                </div>
            </div>
        </div>
          <section class="notice-area two pt-140">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="notice-right-wrapper mb-25 pb-25">
                            <h3>TAKE A VIDEO TOUR</h3>
                            <div class="notice-video">
                                <div class="video-icon video-hover">
                                 
                                 @foreach (var item in Model.Settings)
                                  {
                                        <a class="" href="@item.VideoLink">
                                        <i class="zmdi zmdi-play"></i>
                                    </a>
                                      
                                  }
                                    
                                </div>
                            </div>
                        </div> 
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="notice-left-wrapper">  
                            <h3>notice board</h3>
                            <div class="notice-left">
                      @foreach (var item in Model.NoticeBoards)
                            {
                                    <div class="single-notice-left mb-23 pb-20">
                                    <h4>@item.CreatedDate.ToString("MM:dd:yyyy")</h4>
                                    <p>@item.Description </p>
                                </div>
                            }


                      
                             
                            </div>
                        </div>    
                    </div>
                </div>
            </div>
        </section>