@model HomeViewModel

@if (!string.IsNullOrWhiteSpace((string)TempData["EmailRegex"]))
{
    <div style="display:none" id="message">@TempData["EmailRegex"]</div>
}

@if (!string.IsNullOrWhiteSpace((string)TempData["EmailNull"]))
{
    <div style="display:none" id="message">@TempData["EmailNull"]</div>
}


@if (!string.IsNullOrWhiteSpace((string)TempData["Subs"]))
{
    <div style="display:none" id="message">@TempData["Subs"]</div>
}



 	<div class="banner-area-wrapper">
            <div class="banner-area text-center">	
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="banner-content-wrapper">
                                <div class="banner-content">
                                    <h2>abouts</h2> 
                                </div> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>    
            <div class="about-area pb-155">
            <div class="container">
           
             @await Html.PartialAsync("_AboutPartialView",Model)
            
            </div>
        </div>
     <div class="teacher-area pt-150 pb-105">
            <div class="container">
                <div class="row">
         @await Html.PartialAsync("_TeacherPartialView",Model.Teachers.Take(4).ToList())

                </div>
            </div>
        </div>

        <div class="testimonial-area pt-110 pb-105 text-center">
            <div class="container">
                <div class="row">
                    <div class="testimonial-owl owl-theme owl-carousel">
                    @await Html.PartialAsync("_TestinomialPartialView",Model)
                    </div>
                </div>
            </div>
        </div>
          <section class="notice-area two pt-140">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="notice-right-wrapper mb-25 pb-25">
                            <h3>TAKE A VIDEO TOUR</h3>
                            <div class="notice-video">
                                <div class="video-icon video-hover">
                                 
                                 @foreach (var item in Model.Settings)
                                  {
                                        <a class="" href="@item.VideoLink">
                                        <i class="zmdi zmdi-play"></i>
                                    </a>
                                      
                                  }
                                    
                                </div>
                            </div>
                        </div> 
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="notice-left-wrapper">  
                            <h3>notice board</h3>
                            <div class="notice-left">
                      @foreach (var item in Model.NoticeBoards)
                            {
                                    <div class="single-notice-left mb-23 pb-20">
                                    <h4>@item.CreatedDate.ToString("MM:dd:yyyy")</h4>
                                    <p>@item.Description </p>
                                </div>
                            }


                      
                             
                            </div>
                        </div>    
                    </div>
                </div>
            </div>
        </section>


        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    const Message = document.getElementById("message");
    if (Message != undefined) {
        const message = Message.innerHTML;
        if (message != "") {
            Swal.fire(`${message}`)
        }

    }</script>