@model Teacher
<div class="container">
<form method="post" enctype="multipart/form-data">
    <div class="mb-3 mt-3">
            <label asp-for="@Model.FullName" class="form-label">FullName:</label>
            <input type="text" class="form-control" asp-for="@Model.FullName">
            <span class="text text-danger"  asp-validation-for="@Model.FullName"></span>
    </div>
   
    <div class="mb-3 mt-3">
            <label asp-for="@Model.File" class="form-label">Photo:</label>
            <input type="file" class="form-control" accept="image/*"  asp-for="@Model.File">
            <span class="text text-danger"  asp-validation-for="@Model.File"></span>
    </div>
      <div class="mb-3 mt-3">
            <select asp-for="TeacherPositionCatId" class="form-select" aria-label="Default select example">
                <option selected>Select Teacher Position</option>
                @foreach(var item in ViewBag.TeacherPositionCatId)
                {
                    <option value="@item.Id">@item.Name</option>

                }
            </select>
            <span class="text text-danger"   asp-validation-for="TeacherPositionCatId"></span>
        </div>
    <button type="submit" class="btn btn-secondary">Submit</button>
    @Html.AntiForgeryToken()
</form>
</div>