
@model IEnumerable<Blog>

	  @foreach (var item in Model)
                 {
                        <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="single-blog">
                            <div class="blog-img">
                                <a asp-action="detail" asp-controller="blog" asp-route-id="@item.Id" ><img src="~/assets/img/@item.Image" alt="blog"></a>
                                <div class="blog-hover">
                                    <a ><i class="fa fa-link"></i></a>
                                </div>
                            </div>
                            <div class="blog-content">
                                <div class="blog-top">
                                 <p>By @item.Name  /  @item.CreatedDate.ToString("MM:dd:yyyy")  /  @Html.Raw(item.Icon) /5 </p>
                                </div>
                                <div class="blog-bottom">
                                    <h2><a href="blog-details.html">@item.Desc</a></h2>
                                    <a href="">read more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                 }