@model About
<div class="container">
	<form method="post" enctype="multipart/form-data">
	<div class="form-group">
		    <label asp-for="@Model.Title" >Title:</label>
			<input type="text" class="form-control" asp-for="@Model.Title"/>
			<span class="text text-danger" asp-validation-for="@Model.Title"></span>
	</div>
	<div class="form-group">
		    <label asp-for="@Model.Description" >Desc:</label>
			<input type="text" class="form-control" asp-for="@Model.Description"/>	
			<span class="text text-danger" asp-validation-for="@Model.Description"></span>
    </div>
		<div class="form-group">
		    <label asp-for="@Model.DescriptionResponsive" >Desc Respobsive:</label>
			<input type="text" class="form-control" asp-for="@Model.DescriptionResponsive"/>
			<span class="text text-danger" asp-validation-for="@Model.DescriptionResponsive"></span>
    </div>
		<div class="form-group">
		    <label asp-for="@Model.Link" >Desc Respobsive:</label>
			<input type="text" class="form-control" asp-for="@Model.Link"/>
			<span class="text text-danger" asp-validation-for="@Model.Link"></span>
	    	
    </div>
	<div class="form-group">
		    <label asp-for="@Model.FormFile" >File:</label>
			<input type="file" class="form-control" asp-for="@Model.FormFile"/>
			<span class="text text-danger" asp-validation-for="@Model.FormFile"></span>
    </div>
			@Html.AntiForgeryToken()
	<button type="submit" class="btn btn-info">Update</button>
	</form>
</div>