@model IEnumerable<Setting>
<div class="container">
    <table class="table table-sm">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Title:</th>
                <th scope="col">Image:</th>
                <th scope="col">Logo:</th>
                <th scope="col">Update</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                    <tr>
                        <th scope="row">@item.Id</th>
                        <th>@item.Title</th>
                         <th><img style="width:100px;height:100px" src="~/assets/img/@item.AboutImage" /></th>
                         <th><img style="width:100px;height:100px" src="~/assets/img/@item.Logo" /></th>
                        <td><a asp-controller="setting" asp-action="update" asp-route-id="@item.Id" >
                            <i class="fas fa-edit text text-primary"></i></a></td>
                     
                    </tr>
            }
        </tbody>
    </table>
        <nav aria-label="Page navigation example">
        <ul class="pagination">
            @for (int i = 1; i <= ViewBag.TotalPage; i++)
            {


                @if (i == ViewBag.CurrentPage)
                {
                    <li class="page-item disabled"><a  class=" page-link" asp-controller="setting" asp-action="index" asp-route-page="@i">@i</a></li>
                }
                else
                {
                    <li class="page-item"><a  class=" page-link" asp-controller="setting" asp-action="index" asp-route-page="@i">@i</a></li>
                }
            }
        </ul>
    </nav>

</div>