@model Setting
<div class="container">
	<form method="post" enctype="multipart/form-data">
	<div class="form-group">
		    <label asp-for="@Model.Title" >Title:</label>
			<input type="text" class="form-control" asp-for="@Model.Title"/>
			<span class="text text-danger" asp-validation-for="@Model.Title"></span>
	</div>
	<div class="form-group">
		    <label asp-for="@Model.Desc1" >Desc1:</label>
			<input type="text" class="form-control" asp-for="@Model.Desc1"/>
			<span class="text text-danger" asp-validation-for="@Model.Desc1"></span>
	</div>
		<div class="form-group">
		    <label asp-for="@Model.Desc2" >Desc2:</label>
			<input type="text" class="form-control" asp-for="@Model.Desc2"/>
			<span class="text text-danger" asp-validation-for="@Model.Desc2"></span>
	</div>
		<div class="form-group">
		    <label asp-for="@Model.Phone1" >Phone1:</label>
			<input type="text" class="form-control" asp-for="@Model.Phone1"/>
			<span class="text text-danger" asp-validation-for="@Model.Phone1"></span>
	</div>
		<div class="form-group">
		    <label asp-for="@Model.Phone2" >Phone2:</label>
			<input type="text" class="form-control" asp-for="@Model.Phone2"/>
			<span class="text text-danger" asp-validation-for="@Model.Phone2"></span>
	</div>
		<div class="form-group">
		    <label asp-for="@Model.Email1" >Email1:</label>
			<input type="text" class="form-control" asp-for="@Model.Email1"/>
			<span class="text text-danger" asp-validation-for="@Model.Email1"></span>
	</div>
		<div class="form-group">
		    <label asp-for="@Model.Email2" >Email2:</label>
			<input type="text" class="form-control" asp-for="@Model.Email2"/>
			<span class="text text-danger" asp-validation-for="@Model.Email2"></span>
	</div>
		<div class="form-group">
		    <label asp-for="@Model.Address" >Address:</label>
			<input type="text" class="form-control" asp-for="@Model.Address"/>
			<span class="text text-danger" asp-validation-for="@Model.Address"></span>
	</div>
		<div class="form-group">
		    <label asp-for="@Model.CityCountry" >CityCountry:</label>
			<input type="text" class="form-control" asp-for="@Model.CityCountry"/>
			<span class="text text-danger" asp-validation-for="@Model.CityCountry"></span>
	</div>
		<div class="form-group">
		    <label asp-for="@Model.VideoLink" >VideoLink:</label>
			<input type="text" class="form-control" asp-for="@Model.VideoLink"/>
			<span class="text text-danger" asp-validation-for="@Model.VideoLink"></span>
	</div>
		<div class="form-group">
		    <label asp-for="@Model.ButtonLink" >ButtonLink:</label>
			<input type="text" class="form-control" asp-for="@Model.ButtonLink"/>
			<span class="text text-danger" asp-validation-for="@Model.ButtonLink"></span>
	</div>

		
	<div class="form-group">
		    <label asp-for="@Model.AboutFormFile" >AboutFormFile:</label>
			<input type="file" class="form-control" asp-for="@Model.AboutFormFile"/>
			<span class="text text-danger" asp-validation-for="@Model.AboutFormFile"></span>
    </div>
		<div class="form-group">
		    <label asp-for="@Model.LogoFormFile" >LogoFormFile:</label>
			<input type="file" class="form-control" asp-for="@Model.LogoFormFile"/>
			<span class="text text-danger" asp-validation-for="@Model.LogoFormFile"></span>
    </div>
			@Html.AntiForgeryToken()
	<button type="submit" class="btn btn-info">Update</button>
	</form>
</div>